<h1>Czy na pewno chcesz usunąć?</h1>
<form method="post">
    <input type="hidden" name="id" value="@Model" />
    <button type="submit" class="btn btn-danger">Tak</button>
    <a asp-action="Index" class="btn btn-secondary">Nie</a>
</form>
